body, ul, li, p, a{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#adicionar{
    padding-top: 20px;
    padding-bottom: 20px;
}

#adicionar ul{
    background: #295C8A;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-align: center;
}

#adicionar li {
    padding-top: 2px;
    padding-bottom: 20px;
}

#adicionar li input {
    text-align: center;
    width: 70%;
    height: 35px;
    font-size: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
}

#adicionar ul label{
    color: white;
}

#adicionar ul h2{
    color: black;
    padding-top: 20px;
    padding-top: 10px;
}

#butao a{
    background: #FF0000;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 100px;
    border-radius: 15px;
}

#butao a:hover{
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#butao input[type="submit"]{
    background: #19834C;
    border: 1px solid #19834C;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 100px;
    border-radius: 15px;
}

#butao input[type="submit"]:hover{
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 5px;
    padding-bottom: 5px;
}


